[submodule "deps/prometheus"]
	path = deps/prometheus
	url = https://github.com/isaacdavis/prometheus.git
[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = https://github.com/joyent/sdc-scripts.git
