[submodule "deps/prometheus"]
	path = deps/prometheus
	url = https://github.com/joyent/prometheus.git
[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = https://github.com/joyent/sdc-scripts.git
[submodule "deps/manta-scripts"]
	path = deps/manta-scripts
	url = https://github.com/joyent/manta-scripts.git
[submodule "deps/eng"]
	path = deps/eng
	url = https://github.com/joyent/eng.git
